*.gd linguist-language=GDScript
*.tscn linguist-language=GDScript
*.gd linguist-language=GDScript
*.gdns linguist-language=GDScript
*.tres linguist-language=GDScript
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=true
*.java linguist-detectable=false